* {
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #2098D1;
    --main-black: #1b2026;
    --main-grey: #1a1a1a;
}

::selection {
    background-color: var(--main-black);
    color: var(--main-color);
}

.hvj-text { color: var(--main-color) !important; }
.hvj-bg { background: var(--main-color) }
.hvj-outline { outline: 2px solid var(--main-color); }

.bg-grey { background-color: var(--main-grey) !important;}
.bg-blur { backdrop-filter: blur(1rem); }

.vh-25{ height: 25vh;}
.vh-50{ height: 50vh;}
.vh-75{ height: 75vh;}